.baseNotification {
  &_error {
    --el-notification-title-color: var(--el-text-color-regular);
    --el-notification-close-hover-color: var(--el-text-color-regular);
    width: 512px;
    background: #fcd9d9;
    border-radius: 2px;
    border-top: 1px solid #f14141;
    border-left: 4px solid #f14141;
    border-bottom: 1px solid #f14141;
    border-right: 1px solid #f14141;
  }

  &_warning {
    --el-notification-title-color: var(--el-text-color-regular);
    --el-notification-close-hover-color: var(--el-text-color-regular);
    width: 512px;
    background: #ffe5ce;
    border-radius: 2px;
    border-top: 1px solid #ff7c0a;
    border-left: 4px solid #ff7c0a;
    border-bottom: 1px solid #ff7c0a;
    border-right: 1px solid #ff7c0a;
  }

  &_success {
    --el-notification-title-color: var(--el-text-color-regular);
    --el-notification-close-hover-color: var(--el-text-color-regular);
    width: 512px;
    background: #dbeedb;
    border-radius: 2px;
    border-top: 1px solid #49ab4d;
    border-left: 4px solid #49ab4d;
    border-bottom: 1px solid #49ab4d;
    border-right: 1px solid #49ab4d;
  }

  &_info {
    --el-notification-title-color: var(--el-text-color-regular);
    --el-notification-close-hover-color: var(--el-text-color-regular);
    width: 512px;
    background: #d6e5ff;
    border-radius: 2px;
    border-top: 1px solid #337eff;
    border-left: 4px solid #337eff;
    border-bottom: 1px solid #337eff;
    border-right: 1px solid #337eff;
  }
}
