@use './app/style/index.scss';

:root.light {
  /*color*/
  --color-danger: #d44332;
  --color-primary: #436cee;
  --color-success: #49ab4d;
  --color-warning: #ff7c0a;

  --color-gray: #c3c7cf;
  --color-dark-gray: #6e778c;
  --color-black: #0f1115;
  --color-dark: #3f4759;
  --color-light-gray: #f3f4f5;
  --color-thin-gray: #e0e3e7;
  --color-swamp: #f3f4f566;
  /*end color*/

  /*color hover*/
  --color-primary-hover: rgba(67, 108, 238, 60%);
  --color-danger-hover: rgba(212, 67, 50, 60%);
  --color-success-hover: rgba(73, 171, 77, 60%);
  --color-warning-hover: rgba(255, 124, 10, 60%);
  /*end color hover*/

  --border-radius: 2px;
  --bg-primary: #d9e2ff;
  --bg-primary-light: #d9e2ff66;

  --bg-html: #ffffff;

  /*переопределение цветов*/
  --el-color-primary: #436cee;
  --el-color-danger: #d44332;
  --el-color-success: #49ab4d;
  --el-color-warning: #ff7c0a;

  --el-border-color: #6e778c;
  --el-text-color-regular: #0f1115;
}

:root.dark {
  /*color*/
  --color-danger: #d44332;
  --color-primary: #436cee;

  --color-gray: #c3c7cf;
  --color-dark-gray: #6e778c;
  --color-black: #0f1115;
  --color-dark: #3f4759;
  --color-light-gray: #f3f4f5;
  --color-thin-gray: #e0e3e7;
  --color-success: #49ab4d;
  --color-swamp: #f3f4f566;
  --color-warning: #ff7c0a;
  /*end color*/
  --border-radius: 2px;
  --bg-primary: #d9e2ff;
  --bg-primary-light: #d9e2ff66;

  --bg-html: #1e222a;

  /*переопределение цветов*/
  --el-color-primary: #436cee;
  --el-color-danger: #d44332;
  --el-color-success: #49ab4d;
  --el-color-warning: #ff7c0a;

  --el-border-color: #6e778c;
  --el-text-color-regular: #0f1115;
}
